.postProfileImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
}
.postWrapper {
  padding: 10px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postLeft {
  display: flex;
  align-items: center;
}
.postUsername {
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
}
.postDate {
  font-size: 10px;
}

.postCenter {
  margin: 20px 0;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.postLikeCounter {
  font-size: 15px;
}
.postCommenttext {
  border-bottom: 1px dashed grey;
  cursor: pointer;
  font-size: 15px;
}
